<!--ZOE HIGHTOWER-->
{% extends "layout.html" %}
{% block content %}
<html>
    <head>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" crossorigin="anonymous">

        <script type="text/javascript" src="{{ url_for('static', filename = 'bandpage.js') }}"></script>
        <script>
            var band = {{ band | tojson }};
            var data = {{ data | tojson }};
        </script>
    </head>
    <body>
        <div class="container">
            <div class= center_page>
            <div id="name"></div>
            <div id="listeners">Monthly Listeners: </div>
            <div id="image"></div>
            <div id="description">
                <h1>About</h1>
            </div>
            <h1>Popular Albums</h1>
            <div id="album_container"></div>
            <div class="links">
                <div class="explore">
                    <h1>Explore Similar</h1>
                </div>
                <h3>Similar Artists</h3>
                <div id="similar_bands"></div>
                <h3>Genres</h3>
                <div id="genres"></div>
            </div>

        </div>
    </div>
    </body>
</html>

{% endblock %}
